#container {
  display: flex;
  flex-flow: row;
}
#container > div {
  border: 1px solid #BABABA;
  margin: 1em;
  flex: 1;
}
.inputs {
  display: flex;
  flex-flow: row;
}
img {
  display: block;
  width: auto;
  height: 300px;
}
